configuration {
  modi:          "run,window";
  font:          "hack 10";
  theme: "/usr/share/rofi/themes/arthur.rasi";
  columns:       "7";
  bw:            "0";
  lines:         "2";
  separator-style:   "none";
  icon-theme: "Papirus";
  show-icons: true;
}
